h5 {
    font-size: 1vw;
    margin-left: 2vw;
    margin-top: 1vh;
}

.sidebarToggleBtn {
    margin: auto;
}

.topMenu {
    height: 5vh;
}

.title {
    margin: auto;
}

.changePageDropDown {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 2;
}
